<footer>
    <div class="f-info">
      
      <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
          <div class="f-info-brand"><i>Made By: Apoorv Gautam</i></div>
          <div class="f-info-socials">
         <a href="https://github.com/Apoorv0207" target="_blank" rel="noopener">
        <i class="fa-brands fa-github"></i>
        </a>
         <a href="https://www.linkedin.com/in/apoorv-gautam-a1253326a/" target="_blank" rel="noopener">
        <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        
        <a href="/terms">Terms</a>
      </div>
    </div>
  </footer>
  